.button {
  padding: 8px;
  margin: 10px;
  background-color: darkcyan;
}

.button:hover {
  background-color: goldenrod;
}

/* block--modifier */
.button--big {
  font-size: 1.3em;
  color: white;
}
