.navigation {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 10px 10px 0;
}

/* block__element */
.navigation__button {
  text-decoration: none;
  color: goldenrod;
  transition-duration: 0.4s;
  padding: 8px;
}

/* block__element--modifier */
.navigation__button--red {
  color: crimson;
}

/* block__element */
.navigation__button:hover {
  background-color: darkcyan;
}
